doctype html
html(lang='en')

	head
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		base(href='/')
		title App
		link(rel='stylesheet', href='/vendor.css')
		link(rel='stylesheet', href='/app.css')

	body(ng-app='app')
		ng-view
		script(src='/vendor.js')
		script(src='/app.js')
